/* src/pages/Appointment.css */

.appointment-container {
    background-color: #f8f9fa;
  }
  
  .card {
    border-radius: 10px;
    width: 400px;
    background-color: #fff;
  }
  
  .card h3 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .card button {
    margin-top: 10px;
    font-weight: 600;
  }
  